phone_label: "{{ lines[0].display_name }}"
messages_uri: "{{ lines[0].auth_name }}"
voip_control_port: {{ lines[0].auth_name }}

{% set x = 1 %}
{% for line in lines %}
line{{ x }}_name: {{ line.auth_name }}
line{{ x }}_shortname: "{{ line.display_name }}"
line{{ x }}_displayname: "{{ line.display_name }}"
line{{ x }}_authname: {{ line.auth_name }}
line{{ x }}_contact: {{ line.auth_name }}
line{{ x }}_password: "{{ line.auth_password }}"
proxy{{ x }}_address: "{{ line.sip_server.primary.host }}"
proxy{{ x }}_port: 7000
{% set x = x + 1 %}
{% endfor %}

#proxy1_address: {{ lines[0].sip_server.primary.host }} 
#proxy1_port: 5060
#time_zone: {{ timezone }}
